body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#room-container {
  padding: 10px;
}

#room-list {
  list-style-type: none;
  padding: 0;
}

#room-list li {
  margin: 5px 0;
  cursor: pointer;
  text-decoration: underline;
}

#chat-container {
  display: none;
  flex-direction: column;
  flex: 1;
}

#message-container {
  flex: 1;                 /* This will make it grow to take up all available space */
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

#message-input {
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;    /* Some spacing at the bottom */
}

#send-button {
  
  margin-left: 0px;
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(12, 0, 0);
  background-color: #ca4611;
  
}

pre {
  font-family: Arial, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #6ec41e;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  overflow-x: auto;
}

pre {
  display: flex;
  justify-content: space-between; /* This will separate the message and timestamp */
}

.message-time {
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
